.slick-prev:before, .slick-next:before {
    color: #09529b !important;
}
.slick-prev {
    z-index: 1;
}
.slick-next {
    z-index: 1;
}
.slick-image {min-height: 100px; max-width: 700px}

svg{margin-bottom: -3px !important;}